{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "user/_macros.html" as macros %}

{%- block unique_css %}
<link href="{{ url_for('static', filename = 'blog.css') }}" rel="stylesheet">
{%- endblock unique_css %}

{% block title %}管理评论{% endblock %}

{% block mid_content %}
<div class="container">
    <div class="page-header">
        <h1>管理评论</h1>
    </div>
    {% set moderate = True %}

    {% include 'post/_comments.html' %}

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'post.moderate') }}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block footer -%}
    <footer class="blog-footer">
      <p>Template for <a href="https://getbootstrap.com">Bootstrap</a>, modified by <a href="http://www.mayangbin.com">@Epsilon</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
{%- endblock footer %}