{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "user/_macros.html" as macros %}

{% block title %}Posts{% endblock %}

{%- block unique_css %}
<link href="{{ url_for('static', filename = 'blog.css') }}" rel="stylesheet">
{%- endblock unique_css %}

{% block mid_content %}
    <div class="container" name="blog-container">

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div>
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ wtf.quick_form(form) }}
            {% endif %}
          </div>

          {% include 'user/_posts.html' %}
          {% if pagination %}
          <div class="pagination">
            {{ macros.pagination_widget(pagination, 'user.index') }}
          </div>
          {% endif %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p>这是一个微型的 <em>社交网站</em> 项目,利用flask实现.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">January 2017</a></li>
              <li><a href="#">February 2017</a></li>
              <li><a href="#">March 2017</a></li>
              <li><a href="#">April 2017</a></li>
              <li><a href="#">May 2017</a></li>
              <li><a href="#">June 2017</a></li>
              <li><a href="#">July 2017</a></li>
              <li><a href="#">August 2017</a></li>
              <li><a href="#">September 2017</a></li>
              <li><a href="#">October 2017</a></li>
              <li><a href="#">November 2017</a></li>
              <li><a href="#">December 2017</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>联系我</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Weibo</a></li>
              <li><a href="#">Zhihu</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}

{% block footer -%}
    <footer class="blog-footer">
      <p>Template for <a href="https://getbootstrap.com">Bootstrap</a>, modified by <a href="http://www.mayangbin.com">@Epsilon</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
{%- endblock footer %}
