{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "user/_macros.html" as macros %}

{% block title %}Epsilon - {{ user.name }}'s posts{% endblock %}

{%- block unique_css %}
<link href="{{ url_for('static', filename = 'blog.css') }}" rel="stylesheet">
{%- endblock unique_css %}

{% block mid_content -%}
<div class="container">
{% include 'user/_posts.html' %}
</div>
{%- endblock mid_content %}

{% block footer -%}
    <footer class="blog-footer">
      <p>Template for <a href="https://getbootstrap.com">Bootstrap</a>, modified by <a href="http://www.mayangbin.com">@Epsilon</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
{%- endblock footer %}